# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.zeLaur.ShoppingCartDemo.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\_xpr\f\zeLaur.ShoppingCartDemo\.idea\.idea.zeLaur.ShoppingCartDemo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
